<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>Music: <a href="./music">클릭하세요</a></p>
    <p>Track: <a href="./track">클릭하세요</a></p>
    <p>갱신: <a href="./renewal">클릭하세요</a></p>
  </body>
</html>
