<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
</head>
<body>
    <div>
    <h2>무려 갱신을 체험해 볼 수 있는 곳입니다.</h2>
    그.. 알죠? 그 사볼 프로필페이지에 로그인만하세요 근데 타인갱신은 아직안댐 ㅋㅋ <br>
    그리고 그 진짜로 갱신이 되는건 아니고 이상한 글자들 볼 수 있습니다. 감사합니다. <br>
    와! 짧아진 갱신코드!!!!
    <br><br>
    맨 앞에 j는 빼드렸습니다.
    <br><br>
    <code>
        avascript:(function(d,s){s=d.createElement('script');s.type='text/javascript';s.src='https://dev-anzuinfo.me/script/renewal.js';d.head.appendChild(s);})(document);
    </code>
    </div>
</body>
</html>